@inherits LayoutComponentBase

<div id="sidebar-2" class="sidebar-2"style="width:10vw;">
        <i id="arrow-2"class="fas fa-angle-right fa-5x"></i>
    </div>
    <div class="sidebar" id="sidebar">
        <header>
            <div class="logo"> 
              <img src="/logo.png" alt="logo">
            </div>
            <div id="expand-menu">
                <i class="fas fa-angle-left fa-5x" id="arrow-1"></i>
            </div>
          
        </header>
        <main>
            <div class="input-container">
                <div class="search-bar">
                    <div class="center">
                        <div class="inputbox">
                            <input type="text" required="required">
                            <span>Wprowadź adres</span>
                        </div>
                    </div>
                    <div class="tip" data-text="Dodaj lokalizacje do tablicy" id="add-input" onclick="addElement()">
                        <i class="fas fa-plus" style="color:white"></i>
                    </div>
                </div>
                <label for="file-input" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i>
                <span> Załącz plik </span>
                
                </label>
                <input type="file" class="file-input" id="file-input" />
                <div class="input-results" id="result">
                    <table id="table" class="table"> 
                        <thead>
                            <tr> 
                                <th>Miasto</th>
                                <th>Ulica</th>
                                <th>Kod pocztowy</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody  id="table-body">

                        </tbody>
                    </table>
                </div>
                <button onclick="dh.invokeMethodAsync('Solve');"> Wyznacz trase </button>
            </div>
        </main>
        </div>