@page "/"
@inject IJSRuntime JSRuntime
@inject XRouteService XRouteService
@using System.Numerics
@using Malloc.Data

    <div class="sidebar">
        <h1>Malloc</h1>
        <div class="input-container">
            <label>Podaj adres</label>
            <div class="search-bar">
                <input type="text" value=" " class="input-search"/>
                <div class="add-input">+</div>
            </div>
            <div class="input-results">

            </div>
            <div>
                @if(NewRoute!=null)
{
	<p>Distance: @(NewRoute.TotalDistance/1000.0f) km</p>
	<p>Time: @(NewRoute.TotalTime/60.0f) min</p>
    <p>@Data?.Points.Count</p>
}
            </div>
        </div>
    </div>

<div id="map"></div>